body {
  background-color: rgb(142, 7, 35);
  color: black;
  font-family: 'century gothic'
}

.container {
  width: 600px;
  margin: 0 auto;
  padding: 10px 10px;
}

button {
  color: white;
  border: 2px;
  background-color: green;
  border-color: green;
  width: 300px;
  height: 100px;
  font-size: 50px;
  padding: 10px;
  border-radius: 20px;
}

button.match {
  color: white;
  border: 2px;
  background-color: green;
  border-color: green;
  width: 300px;
  height: 300px;
  font-size: 50px;
  padding: 10px;
  border-radius: 1000px;
}

button:hover {
  color: black;
  border: 2px;
  background-color: white;
  border-color: green;
}

h1 {
  font-size: 200px;
  margin: auto;
  text-align: center;
}

h3 {
  text-align: center;
}
h4 {
  font-size: 30px
}
